<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"> -->
    <!-- <link rel="stylesheet" href="{{url_for('static',filename='create.css')}}"> -->
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="../../static/css/create.css">
    <title> Añadir Producto </title>
</head>

<body>
    <!-- AÑADIR MENU -->
    <header>
    </header>
    
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <!-- BODY -->
    <button><a href="/products/list">Volver</a></button>
    
    <h2>Añadir Producto</h2>

    <form action="/products/create" enctype=multipart/form-data method="POST" >
        {% block contenido %} 
        <input type="text" name="nombre" placeholder="Nombre"/>
        <textarea type="text" name="descripcion" placeholder="Descripción"></textarea>
        <input name="imagen" type="file" />
        <input name="precio" type="number" placeholder="Precio" />
        <select name="categoria" required>
            <option value="">Escoge una categoría</option>
            {% for valor in categoria %}
            <option value="{{valor['id']}}">{{valor['name']}}</option>
            {% endfor %}
        </select>        
        {% endblock %}

        <button type="reset">Reiniciar</button>
        <button type="submit" >Añadir</button>
    </form>

</body>
</html>