<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}"> -->
    <!-- <link rel="stylesheet" href="{{url_for('static',filename='delete.css')}}"> -->
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/delete.css">
    <title>Eliminar Producto</title>
</head>

<body>
    <!-- HEADER -->
    <header>
    
    </header>

    <!-- BODY -->
    <button><a href="/products/list">Volver</a></button>

    <h1>Eliminar Producto</h1>

    <table>
        <tr>            
            <th>ID: </th>
            <td>{{products.id}}</td>
        </tr>
        <tr>
            <th>Nombre: </th>
            <td>{{products.title}}</td>
        </tr>
        <tr>
            <th>Descripción: </th>
            <td>{{products.description}}</td>
        </tr>
        <tr>
            <th>Imagen: </th>
            <td><img src="{{products.photo}}" width="200"></td>
        </tr>
        <tr>
            <th>Precio: </th>
            <td>{{products.price}}€</td>
        </tr>
        <tr>
            <th>Categoría ID: </th>
            <td>{{categoria.name}}</td>
        </tr>
        <tr>
            <th>Seller ID: </th>
            <td>{{products.seller_id}}</td>
        </tr>
        <tr>
            <th>Creado: </th>
            <td>{{products.created}}</td>
        </tr>
        <tr>
            <th>Ultima actualización: </th>
            <td>{{products.updated}}</td>
        </tr>
    </table>

    <form method="POST">
        <button type="submit">Borrar</button>
    </form>
    
</body>
</html>