<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}"> -->
    <!-- <link rel="stylesheet" href="{{url_for('static',filename='update.css')}}"> -->
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/update.css">
    <title>Modificar Producto</title>
</head>

<body>
    <!-- HEADER -->
    <header>
    
    </header>

    <!-- BODY -->
    <button><a href="/products/list">Volver</a></button>

    <h1>Modificar Producto</h1>

    <form method="POST">
        <label for="nombre">Nombre: </label>
        <input type="text" id="nombre" name="nombre" value="{{ dato['title'] }}"/>

        <label for="descripcion">Descripcion: </label>
        <textarea id="descripcion" name="descripcion" required>{{ dato['description'] }}</textarea>

        <label for="imagen">Imagen: </label>
        <input type="file" id="imagen" name="imagen" value="{{ dato['photo'] }}"/>

        <label for="precio">Precio: </label>
        <input type="number" id="precio" name="precio" value="{{ dato['price'] }}"/>

        <label for="categoria">Categoria:</label>
        <select id="categoria" name="categoria" required>
            {% for valor in categoria %}
            <option value="{{ valor['id'] }}" {% if valor['id'] == dato['category_id'] %}selected{% endif %}>{{ valor['name'] }}</option>
            {% endfor %}
        </select>

        <button type="submit">Actualizar</button>

    </form>

</body>
</html>