{% extends 'layouts/_base.html' %}
{% from "partials/_formhelpers.html" import render_errors %}

{% block content %}

   <div class="max-w-md mx-auto p-6 bg-white rounded-md shadow-md">

      <h2 class="text-2xl font-semibold text-gray-800 mb-6">Modificar Producto {{ product_id }}</h2>

      <form action="/products/update/{{ product_id }}" method="POST" enctype="multipart/form-data" class="space-y-4">
         {{ form.csrf_token }}
         <!--Nombre-->
         <div>
            <label for="product_title" class="block text-sm font-medium text-gray-600">Nombre del Producto</label>
            {{ form.title(class="mt-1 p-2 w-full border rounded-md") }}
         </div>
         <!--Descripción-->
         <div>
            <label for="product_description" class="block text-sm font-medium text-gray-600">Descripción del Producto</label>
            {{ form.description(class="mt-1 p-2 w-full border rounded-md") }}
         </div>
         <!--Foto-->
         <div>
            <label for="product_photo" class="block text-sm font-medium text-gray-600">Foto del Producto</label>
            {{ form.photo_file(class="mt-1 p-2 w-full border rounded-md") }}
         </div>
         <!--Precio-->
         <div>
            <label for="product_price" class="block text-sm font-medium text-gray-600">Precio del Producto</label>
            {{ form.price(class="mt-1 p-2 w-full border rounded-md") }}
         </div>
         <!--Categoría-->
         <div>
            <label for="product_category" class="block text-sm font-medium text-gray-600">Categoría del Producto</label>
            {{ form.category_id(class="mt-1 p-2 w-full border rounded-md") }}
         </div>
         <!--Botón-->
         <p>{{ form.submit(value="MODIFICAR", class="w-full p-3 bg-red-500 text-white font-semibold rounded-md hover:bg-red-600 transition duration-300") }}</p>
         {{ render_errors(form) }}
      </form>

      <a href="/products/read/{{ product_id }}" class="block text-sm mt-4">&#x3c;&#x3c; Volver al producto</a>

   </div>

{% endblock %}